/* ============================================================ //
// @ navigation style
// ============================================================ */

.gnav{
  //margin-top:-5px;
  @include max-media($screen-sm){
    z-index: 9999;
    position: fixed;
    display: none;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: #fff;
    
  }
}
.gnav-body{
  display: flex;
  -js-display: flex;
  flex-flow: row wrap;
  list-style: none;
  @include max-media($screen-sm){
    flex-flow: column wrap;
    padding: 5%;
    margin: 5px 0 0 0;
  }
}
.gnav-item{
  @include max-media($screen-sm){
    display: flex;
    -js-display: flex;
    flex-flow: row wrap;
  }
  a{
    $shadow-color: rgba(0,0,0,.7);
    font-size: 1em;
    color: $text-color;
    text-decoration: none;
    padding:0 .75em;
    line-height: 1;
    @include max-media($screen-sm){
      font-size:1.153846154em;
      line-height:2em;
    }
    
    //text-shadow: 1px 1px 1px $shadow-color,
    //-1px 1px 1px $shadow-color,
    //1px -1px 1px $shadow-color,
    //-1px -1px 1px $shadow-color;
    font-family:$roboto-condensed;
    @include link-hover();
    &:link,
    &:active,
    &:hover,
    &:visited,
    &:focus{
      font-style: italic;
      color: $text-color;
      text-decoration: none;
    }
  }
}

.gnav.is-active{
  display: flex;
  -js-display: flex;
  flex-flow: row wrap;
}