$img_path: "../../assets/img/";


// ============================================================ //
// @ main visual
// ============================================================ //


.main-visual{
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: url(#{$img_path}top/mv.jpg) center top no-repeat;
  background-size:cover;
  width: 100%;
  //height: 550px;
  height:85vh;
  @include max-media($screen-sm){
    //padding-top:45.8333333%;
    padding-top: 162%;
    height:0;
    margin-top: $header-hight;
    background: url(#{$img_path}top/mv-sp.jpg) center top no-repeat;
    background-size:cover;
  }
}


// ============================================================ //
// @ key visual
// ============================================================ //

.key-visual{
  width: 100%;
  min-width: 1200px;
  height: 150px;
  background: url(#{$img_path}top/section_media_bg.jpg) center center no-repeat;
  background-size: cover;
  margin-bottom: 50px;
  @include max-media($screen-sm) {
    min-width: 100%;
    overflow-x: hidden;
  }
  &__inner{
    position: relative;
    height: 100%;
    margin: 0 auto;
    padding: 0 130px;
    width: 100%;
    min-width: 1200px;
    max-width:1200px;
    @include max-media($screen-sm){
      padding:0 4%;
      min-width:100%;
    }
  }
}

.kye-visual__title{
  position: absolute;
  top:50%;
  left: 130px;
  transform: translate(0%, -50%);
  @include fzem(24,15);
}


// ============================================================ //
// @ breadcrumb
// ============================================================ //