/* ============================================================ //
// @ header
// ============================================================ */

$img_path: "../../assets/img/";

.header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  @include max-media($screen-sm){
  box-shadow: 2px 0px 5px rgba(0,0,0,.4);
    
    opacity:.95;
  }
  &__inner{
    padding:15px 30px 20px;
    @include max-media($screen-sm){
      padding: 0 4%;
    }
  }
  @include max-media($screen-sm){
    z-index: 99999;
    height: $header-hight;
    background: #fff;
  }
  
}
.header.is-hidden{
  display: none;
}
.header-group{
  display: flex;
  -js-display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  
  align-items:center;
}
.h-logo{
  background: center center no-repeat;
  @include bgimgx2('common/h-logo.png');
  background-size:contain;
  @include max-media($screen-sm){
    position: relative;
    top: 1px;
    @include bgimgx2('common/h-logo-black.png');
    background-size:contain;
    width: 74px;
    height:$header-hight;
    line-height:$header-hight;
  }
}