/* ============================================================ //
// @ header
// ============================================================ */

.header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  &__inner{
    padding:15px 30px 20px;
    @include max-media($screen-sm){
      padding: 0 4%;
    }
  }
  @include max-media($screen-sm){
    z-index: 99999;
    height: $header-hight;
    background: #333;
  }
}
.header.is-hidden{
  display: none;
}
.header-group{
  display: flex;
  -js-display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items:center;
}
.h-logo{
  width: 160px;
  @include max-media($screen-sm){
    width: 70px;
    line-height:$header-hight;
  }
  img{
    width: 100%;
    vertical-align: bottom;
    @include max-media($screen-sm){
      vertical-align: middle;
      margin-top: -6px;
    }
  }
}